.error {
    font-weight: bolder;
    color: red;
}

.text-baseof-footer-copyright {
    text-align: center;
}

.text-baseof-footer-contactinfo {
    text-align: center;
    display: block;
}

td, th {
    padding: 2px 12px;
}

img:not(#img-baseof-ipopup-image):not(.tooltip-img):not(.inline-img) {
    width: 300px;
}

.audio-figure {
    margin: 0;
}

blockquote {
    opacity: 0.8;
    border-left: lightgray 4px solid;
    padding-left: 12px;
    margin-left: 0;
}

#obj-baseof-ipopup {
    background-color: #00000088;
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition-property: all;
    transition-duration: 0.3s;
}

table, th, td {
    border: 2px solid lightgray;
    border-collapse: collapse;
}

#img-baseof-ipopup-image {
    max-width: 80vw;
    max-height: 80vh;
    position: fixed;
    left: 50vw;
    top: 50vh;
    transform: translate(-50%, -50%);
    border-radius: 6px;
    box-shadow: 0 10px 40px #00000044;
}

#obj-baseof-mainnav {
    display: inline-block;
    margin-bottom: 6px;
}

#obj-baseof-language {
    float: right;
}

.tooltip-img {
    height: 1em;
}

.inline-img {
    display: inline;
    height: 1em;
}
