<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8">
        <title>Yancolabs | {{ .Title }}</title>
    </head>
    <body>
        <header>
            <a class="text-baseof-header-section" href="{{ .Site.Home.Permalink }}">
                Yancolabs
            </a>
            {{ range .Site.Home.Pages }}
                |
                <a class="text-baseof-header-section" href="{{ .Permalink }}">
                    {{- .Title -}}
                </a>
            {{ end }}
        </header>
        <hr>
        {{ block "main" . }}
            <p class="error">BASEOF:MAIN!DEFAULT! This section must get replaced.</p>
        {{ end }}
        <hr>
        <footer>
            <p class="text-baseof-footer-copyright">Copyright © 2023 Yancolabs.com</p>
            <p class="text-baseof-footer-contactinfo">[contact info]
        </footer>

        {{ block "style" . }}
        {{ end }}

        <style>
            .error {
                font-weight: bolder;
                color: red;
            }

            .text-baseof-footer-copyright {
                text-align: center;
            }

            .text-baseof-footer-contactinfo {
                text-align: center;
            }

            img {
                width: 300px;
            }
        </style>
    </body>
</html>
