<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8">
        <title>Yancolabs | {{ .Title }}</title>

        <link rel="stylesheet" href="/static/styles/baseof.css">

        {{ block "links" . }}
        {{ end }}
    </head>
    <body>
        <header>
            <a class="text-baseof-header-section" href="{{ .Site.Home.Permalink }}">Yancolabs</a>
            {{ range .Site.Home.Pages }}
                {{ if ne .Title "secret" }}
                    |
                    <a class="text-baseof-header-section" href="{{ .Permalink }}">
                        {{- .Title -}}
                    </a>
                {{ end }}
            {{ end }}
        </header>
        <hr>
        {{ block "main" . }}
            <p class="error">BASEOF:MAIN!DEFAULT! This section must get replaced.</p>
        {{ end }}
        <hr>
        <footer>
            <p class="text-baseof-footer-copyright">Copyright © 2023 Yancolabs.com</p>
            <p class="text-baseof-footer-contactinfo">[contact info]
        </footer>

        <div id="obj-baseof-ipopup">
            <img id="img-baseof-ipopup-image">
        </div>

        <script src="/static/scripts/smart-table.js"></script>
    </body>
</html>
