{{ define "main" }}
    <h1>{{ .Title }}</h1>
    {{ .Content }}
    {{ range .Pages }}
        <div class="obj-home-page" onclick="window.location = {{ .Permalink }}">
            <p class="text-home-page-title">{{ .Title }}</p>
            <p class="text-home-page-summary">{{ .Summary }}</p>
        </div>
    {{ end }}
{{ end }}

{{ define "style" }}
    <style>
        .obj-home-page {
            border: 1px solid black;
            padding: 0 30px;
            margin: 10px;
            cursor: pointer;
        }

        .text-home-page-title {
            font-size: larger;
            font-weight: bold;
        }

        .text-home-page-summary {
            color: green;
        }
    </style>
{{ end }}
