{{ define "main" }}
    <h1>{{ .Title }}</h1>
    {{ .Content }}
    {{ range .Pages }}
        {{ if ne .Title "Contact information" }}
            <div class="obj-home-page" onclick="window.location = {{ .Permalink }}">
                <p class="text-home-page-title">{{ .Title }}</p>
                <p class="text-home-page-summary">{{ .Summary }}</p>
            </div>
        {{ end }}
    {{ end }}
{{ end }}

{{ define "links" }}
    <link rel="stylesheet" href="/static/styles/home.css">
{{ end }}
